<div data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
  <div data-target="infinite-scroll.entries">
    <div class="posts-wrapper row">
        <%= render 'post' %>
    </div>
  </div>
  <div data-target="infinite-scroll.pagination">
  <%= paginate @posts %>
  </div>
</div>